<h1>SignUp</h1>
<form [formGroup]="validateForm" (ngSubmit)="Submit()" class="form">
    <div class="mb-3 has-validation"  >
        <label  class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email"/>
    </div>
    <div class="mb-3"  >
        <label  class="form-label">Password</label>
        <input type="text" class="form-control" formControlName="password" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
    <div *ngIf="email.pending">
        email is validating...
    </div>
    <div *ngIf="validateForm?.get('password')?.pending">
        password is validating...
    </div>
    <div *ngIf="(validateForm?.dirty||validateForm?.touched)&&validateForm?.invalid" class="alert alert-danger">
        <div *ngIf="email.invalid">
            <b>email invalid</b>
            <div *ngIf="email.errors?.required">email is required</div>
            <div *ngIf="email.errors?.email">email is not a email format</div>
            <div *ngIf="email.errors?.emailExists">{{email.errors?.errorMsg}}</div>
            <p>{{email.errors|json}}</p>
        </div>
        <div *ngIf="validateForm?.get('password')?.invalid">
            <b>password invalid</b>
            <div *ngIf="validateForm?.get('password')?.errors?.required">password is required</div>
            <div *ngIf="validateForm?.get('password')?.errors?.samePwd">{{validateForm?.get('password')?.errors?.errorMsg}}</div>
        </div>
    </div>
</form>


