<div class="container">
  <h1>asyn Validate</h1>
  <div class="row mb-3">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Reactive Form</h5>
        <div class="card-body">
          <app-avfn></app-avfn>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <h5 class="card-header">Template Form</h5>
        <div class="card-body">
          <form #templateForm="ngForm" (ngSubmit)="save(templateForm)" novalidate>
            <div class="mb-3"  >
              <label  class="form-label">Confirm Password</label>
              <input type="text" class="form-control" [(ngModel)]="confirmPWD" name="cp1"  #confirmPassword="ngModel" appPasswordSame required />
          </div>
          <div class="mb-3" >
            <button type="submit" class="btn btn-primary" [disabled]="!templateForm.valid">Submit</button>
          </div>
          <div *ngIf="confirmPassword.pending">
            confirmPassword is validating...
          </div>
          <p>
            <br>Dirty: {{ templateForm.dirty }}
            <br>Touched: {{ templateForm.touched }}
            <br>Valid: {{ templateForm.valid }}
            <br>Value: {{ templateForm.value | json }}
          </p>
          <div *ngIf="(templateForm.dirty||templateForm.touched)&&templateForm.invalid" class="alert alert-danger">
          
            <div *ngIf="confirmPassword?.invalid">
                <b>confirmPassword invalid</b>
                <div *ngIf="confirmPassword.errors?.required">confirmPassword is required</div>
                <div *ngIf="confirmPassword.errors?.samePwd">{{confirmPassword.errors?.errorMsg}}</div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <app-custom-async-validator-fn></app-custom-async-validator-fn>
    </div>
  </div>
</div>






